<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="Escriba la pregunta..." value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="Escriba la respuesta..." value="<%= quiz.respuesta %>"/> <p>

<div class="form-group">
  <label for="tem" class="rem">Tema:</label>
     <select name="quiz[tema]" id="tem" >
     <% var i; for (i=0; i < temas.length; i++) { %> 
  		<option value=<%=temas[i].id%> <%= quiz.tema==temas[i].id ? 'selected' : '' %>>
  		   <%=temas[i].descripcion%>
  		</option>
  	 <%}%>
  	</select>
   
</div>


<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">